/* DEFINIR DIVERSAS VARIÁVEIS ex: Vermelho cor do botão - fundo restaurante */
:root {
	--red-default: #ea1d2c;
	--hover-red: #c2121f;
	--dark-red: #cc1825;
	--green-market: #b6d048;
	--dark-green: #9eb53e;
	--yellow: #f6d553;
	--purple: #8c60c5;
	--pink: #f9879c;
	--white: #fff;
	--dark-gray: #3e3e3e;
	--text: #717171;
	--title: #1a1a1a;
	--border: #dcdcdc;
	--bg-gray: #f7f7f7;
}

#borda{
	margin-top: 2em;
    border-bottom: 5em solid #e6e3e4;
}
 /*MENU */
.container {
	width: 1100px;
	margin: 0 auto;
}

body {
	scroll-behavior: smooth;
}

main {
	padding-top: 80px;
}
/* Responsividade para dispositivos com tela de até 1000 pixels de largura */
@media screen and (max-width: 1000px) {
	.container {
		width: 100%;
	}
}
/* ESTILIZAÇÃO MENU */
.header-menu {
	padding: 40px 32px;
	background-color: var(--bg-gray);
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
}

.header-menu nav,
ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header-menu li {
	padding: 0 20px;
}

.header-menu a {
	text-decoration: none;
	font-family: "SulSans", sans-serif;
	color: var(--text);
}

.header-menu a:hover {
	color: var(--dark-gray);
}

.header-menu ul:last-child li:first-child a {
	color: var(--red-default);
}

.header-menu ul:last-child li:last-child a {
	color: var(--white);
	background-color: var(--red-default);
	padding: 15px 30px;
	border-radius: 5px;
}

.header-menu ul:last-child li:last-child a:hover {
	background-color: var(--hover-red);
}
 /* Responsividade para dispositivos com tela de até 900 pixels de largura */
@media screen and (max-width: 900px) {
	.header-menu > nav > ul:first-child li:not(li:first-child) {
		display: none;
	}
}                
															/* ESTILO OPÇÕES */
.options {                              
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	text-align: center;
}
.container-options {
	width: 842px;
	margin-top: -100px;
}

.cards-options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}															/* ESTILO CARDS - RESTAURANTE - MERCADO */

.card-option {
	width: 48%;
	height: 220px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;

	position: relative;
	border-radius: 15px;
	padding-left: 15px;
	cursor: pointer;
	background-color: var(--red-default);
}

.card-option:not(.card-option:hover) {
	opacity: 0.9;
}

.card-option:last-child {
	background-color: var(--green-market);
}

.card-option h2 {
	font-size: 2.25rem;
	color: var(--white);
}

.card-option img {
	resize: auto;
	object-fit: contain;
	width: 250px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.card-option button {
	border-radius: 5px;
	border: none;
	outline: none;
	font-family: "SulSans Bold", sans-serif;
	height: 36px;
	padding: 0 12px;
	width: 146px;
	font-size: 1rem;
	color: var(--white);
	background-color: var(--dark-red);
}

.card-option:last-child button {
	background-color: var(--dark-green);
}
 															/* responsividade Container - Mini Cards opções */
@media screen and (max-width: 900px) {
	.container-options {
		width: 100%;
	}

	.cards-options {
		align-items: center;
		flex-direction: column;
	}

	.card-option {
		width: 95%;
		margin-top: 20px;
	}
	.card-option img {
		width: 200px;
	}
}

.mini-cards-options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 100px;
}

.mini-card {
	display: flex;
	flex-direction: column;
	position: relative;
}

.mini-card figure {
	background-color: var(--yellow);
	height: 47px;
	border-radius: 5px;
	width: 188px;
	position: relative;
	bottom: 0;
}

.mini-card:nth-child(2) figure {
	background-color: var(--pink);
}

.mini-card:nth-child(4) figure {
	background-color: var(--purple);
}

.mini-card img {
	position: absolute;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
	width: 65%;
	transition: width 2s;
}

.mini-card:hover img {
	width: 80%;
}

.mini-card span {
	margin-top: 10px;
}

.mini-card span::after {
	content: ">";
	color: var(--red-default);
	font-weight: bold;
	margin-left: 10px;
}

@media screen and (max-width: 900px) {
	.mini-cards-options {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.mini-card {
		margin-top: 100px;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "SulSans", sans-serif;
}
html,
body,
#root {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
button,
a {
	cursor: pointer;
}
:root {
}
 														/* ESTILIZAÇÃO DO SEARCH*/
.search {
	display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-bottom: 50px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position-x: center;
    background-attachment: local;
}

.search > div:nth-child(2) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 842px;
}

.title-search h1 {
	font-size: 2.25rem;
	color: var(--title);
	margin: 15px 0px;
}

.title-search p {
	font-size: 1rem;
	color: var(--text);
	margin-bottom: 40px;
}

.search-input {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #f3f3f3;
    border: var(--border);
    padding: 0px 10px;
    border-radius: 5px;
}

.search-input input {
	width: 100%;
	outline: none;
	border: none;
    background-color: #f3f3f3;

	padding: 16px;
}

.button-search {
    color: var(--white);
    font-family: "SulSans Bold", sans-serif;
    background-color: var(--red-default);
    padding: 8px 40px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
}


.button-search:hover {
	background-color: var(--dark-red);
}
 												/* RESPONSIVIDADE DO SEARCH */
@media screen and (max-width: 900px) {
	.title-search {
		width: 90%;
		margin: 0 auto;
	}
	.search > div:nth-child(2) {
		flex-direction: column;
		width: 100%;
	}
	.button-search {
		margin-left: 0px;
		margin-top: 10px;
	}
}

														/*campos - frios - laticinios*/
.bg {
	display: flex;
	height: 100%;
	padding-bottom: 20px;
}
.left img {
    width: 1863px;
    top: 0;
    left: 0;
	margin-top: 120px;
}
.left  {
	width: 160px;
	height: 180px;
	left: 71px;
	top: 257px;
}
.content {
	width: 100%;
	margin-top: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content .logo {
	width: 120px;
}
.content h2 {
	font-size: 2.5rem;
	color: #3e3e3e;
	font-weight: 600;
	margin: 20px 0;
}
.content h2 span {
	color: #ea1d2c;
}
.content p {
	color: #3e3e3e;
	font-size: 1.25rem;

}
.form {
	width: 100%;
	max-width: 780px;
	display: flex;
	margin: 60px;
}
.form .search {
	width: 100%;
	max-width: 650px;
	background: #ededed;
	height: 50px;
	border-radius: 10px;
	margin-right: 20px;
	display: flex;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}
.form .search img {
	width: 26px;
	margin: 0 20px;
}
.form .search input {
	width: 100%;
	background: #ededed;
	border: 0;
	outline: none;
	font-size: 1rem;
	    border-radius: 10px;
}
.form .search input::placeholder {
	font-weight: 400;
	color: #a6a6a6;
}
.form button {
	width: 210px;
	background: #ea1d2c;
	color: #fff;
	font-weight: 400;
	border: 0;
	border-radius: 10px;
}
.form button:hover {
	background: #c2121f;
}
.tags {
	margin: 30px 0;
}
.tags span {
	font-size: 0.875rem;
    font-weight: 400;
    color: #818181;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    margin: 6px;
}
.tags2 {
	margin: 30px 0;
}
.tags span {
	font-size: 0.875rem;
    font-weight: 400;
    color: #818181;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    margin: 10px;
	align-items: center;
}


          /* OS MELHORES RESTAURANTES */

.lojas {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dcdcdc;
}

.lojas>h1 {
    margin-left: 5em;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.lojas-prop {
    color: black;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-decoration: none;
    border-radius: 0.5em;
    border: 1px solid #dcdcdc;
    margin-left: 1em;
}

#propagandas {
    display: flex;
    width: 80%;
    margin-left: 10em;
}

.correct {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.lojas div:nth-last-child(2) {
    margin-left: 11em;
    padding-top: 2em;
}

.lojas div:nth-last-child(2) img {
    padding: 0.5em;
}

@media only screen and (max-width: 768px) {
    #propagandas a:nth-last-child(-n+3) {
        display: none;
    }

    #propagandas {
        margin-left: 4em;
    }

    .lojas div:nth-last-child(2) {
        margin-left: 4em;
    }
}


/* REVIEWS */

.reviews h1 {
	margin: 60px 60px;
	padding: 50px 50px 32px;
	font-size: 20px;

  }
  
  .review-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    box-sizing: content-box;
	margin: 80px;
	font-size: 10px;
	
  }
  .ratings i {
	color: var(--star-color);
	font-size: 1.15rem;
  }
  
.banner {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.banner img {
	width: 100%;
	max-width: 390px;
	margin: 0 10px;
	transition: 0.2s;
}
.banner img:hover {
	transform: scale(1.02);
}
.footer {
	margin: 20px;
	border-top: 1px solid #dcdcdc;
	display: flex;
	padding: 20px 0;
}
.footer img {
	width: 50px;
}
.footer span {
	font-size: 0.8125rem;
	color: #818181;
	margin: 0 20px;
}
.footer-about {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.footer-about > ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 25%;
}

.footer-about li {
	padding: 25px 25px 25px 0px;
}

.social-medias {
	width: 100%;
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 900px) {
	.footer-about li {
		padding: 25px 0px 25px 25px;
	}

	.footer-about {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		padding: 10px;
	}

	.footer-about > ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 50%;
	}
}
